body {
  margin: auto;
  font-size: 36px;
}

section {
  margin: auto;
  width: 90%;
}

.head {
  display: flex;
  height: 130px;
  width: 100%;
  border-color: black;
  position: sticky;
  top: 0;
  z-index: 8;
}
.header__left {
  width: 253px;
  height: 100%;
}

.header__right {
  width: 100%;
  color: #fffcfc;
  background-color: black;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Rosario";
  font-size: 36px;
  font-style: italic;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
a {
  text-decoration: none;
  color: #fffcfc;
}

.header__right_list {
  padding-right: 30px;
}

/* gallery one */
.gallery__one {
  display: flex;
  height: 100vh;

  align-items: center;
  margin: 0 auto;
}

.gallery_inner {
  display: flex;

  align-items: center;
}

.second__foto {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  width: 370px;
  height: 563px;
  animation: second__foto 2s;
}
@keyframes second__foto {
  0% {
    transform: translateX(-150%);
  }
}
.second__foto {
  margin-top: 0px;
}

.second_foto__right {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  width: 370px;
  height: 563px;
  animation: second_foto__right 2s;
}
@keyframes second_foto__right {
  0% {
    transform: translateX(150%);
  }
}
.second_foto__right {
  margin-top: 0px;
}

.first_foto {
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 965px;
  width: 465px;
  animation: first_foto 3s;
}
@keyframes first_foto {
  0% {
    transform: translateX(-150%);
  }
}
.first_foto {
  margin-top: 42px;
}

.first_foto_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 965px;
  width: 465px;
  animation: first_foto_right 2s;
}
@keyframes first_foto_right {
  0% {
    transform: translateX(150%);
  }
}
.first_foto_right {
  margin-top: 42px;
}
/* gallery two */

.gallery_two {
  display: flex;
  height: 100vh;
}

.gallery_inner_two {
  margin: 0 auto;

  display: flex;
}

.gallery__two_left {
  display: flex;
  width: 60%;
  height: 100%;
}
.inner_two_main {
  margin: 0 auto;
  display: flex;
  height: 100%;
  width: 90%;
  flex-wrap: wrap;
  gap: 10%;
}

.inner__two1 {
  animation: serv_1 4s infinite;
}
@keyframes serv_1 {
  0% {
    transform: translate(0, 0%);
  }

  25% {
    transform: translate(125%, 0);
  }

  50% {
    transform: translate(125%, 125%);
  }

  75% {
    transform: translate(0, 125%);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.inner__two2 {
  animation: serv2 4s infinite;
}

@keyframes serv2 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, 125%);
  }
  50% {
    transform: translate(-140%, 125%);
  }
  75% {
    transform: translate(-140%, 0%);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.inner__two3 {
  animation: serv3 4s infinite;
}

@keyframes serv3 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(0px, -125%);
  }
  50% {
    transform: translate(140%, -125%);
  }
  75% {
    transform: translate(140%, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.inner__two4 {
  animation: serv4 4s infinite;
}
@keyframes serv4 {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(-125%, 0px);
  }
  50% {
    transform: translate(-125%, -125%);
  }
  75% {
    transform: translate(0px, -125%);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.inner__text {
  display: flex;
  justify-content: space-around;
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
}

.gallery__two_right {
  display: flex;
  width: 50%;
  height: 90%;
}
/* gallery3 */

.gallery3 {
  height: 100vh;
}

.gallery__inner3 {
  margin: 0 auto;
  width: 90%;
  height: 90%;
}

.gallery3__title {
  font-family: "Rosario";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 116px;

  color: #000000;

  width: 1400px;
  margin: auto;
}

.card__main {
  margin: auto;
  margin-top: 51px;
  height: 680px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  gap: 5%;
}
.card {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.card__main:hover > .card {
  filter: brightness(50%);
  transition: 0.8s;
}
.card__main .card:hover {
  filter: none;
}

.card__hover {
  width: 393px;
  height: 154px;
  display: none;
  background: rgba(163, 83, 10, 0.7);
  transform: rotate(0.3deg);
  position: absolute;
  border-radius: 0px 0px 40px 40px;
  margin-top: 520px;
}

.card__hover_text {
  text-align: center;
  padding: 50px;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  color: #fffafa;
}

.card:hover .card__hover {
  display: block;
  width: 393px;
  height: 154px;
  background: rgba(163, 83, 10, 0.7);
  transform: rotate(0.12deg);
}

/* boottom */

.footer {
  height: 100vh;
}

.inner__footer {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  gap: 5%;
}

.inner__footer_one {
  display: flex;
  width: 6 0%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.footer__left {
  background: #e5e5e586;
  width: 960px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__left_title {
  font-family: "Rosario";
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
}

.footer__right {
  width: 30%;
  height: 570px;
}

input {
  border: 1px solid #fff;
  font-size: 36px;
  font-family: "Rosario", sans-serif;
  color: #00000080;
  margin-left: 20px;
  margin-top: 20px;
}

.name {
  width: 377px;
  height: 80px;
  border: none;
}

.email {
  margin-left: 40px;
  padding-left: 60px;
  width: 380px;
  height: 80px;
  border: none;
}

.message {
  width: 848px;
  border: none;
  padding-bottom: 150px;
  padding-left: 30px;
  margin-bottom: 20px;
}
.lab {
  font-size: 36px;
  font-family: "Rosario", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 330px;
  top: 4330px;
  border: none;
}

.footer__bot {
  color: black;
  display: flex;
  margin: auto;
  height: 260px;
  width: 80%;
  margin-left: 20%;
  margin-top: 95px;
}

.bottom2 > a {
  font-family: "Rosario";
  color: #000000;
}

.bottom2 {
  font-weight: 600px;
}

.bottom {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 565px;
  height: 210px;
}

.bottom > div {
  color: black;
  text-align: center;
}

span {
  font-weight: 700;
}
/* botton__midle */

.botton__midle {
  font-weight: 700;
}

.hours {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 565px;
  height: 210px;
  text-align: center;
}

.hours > div {
  padding-bottom: 25px;
}

.link > a {
  color: #000000;
}

.link_main {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 565px;
  height: 210px;
  text-align: center;
}

.link_main > div:nth-child(4) {
  padding-right: 30px;
  padding-bottom: 40px;
}

.link__title {
  font-weight: 700;
}
